#profile-img-upload-wrapper {
  text-align: center;
}
#profile-img-upload-btn {
  margin-top: 15px;
  color: white;
}
#profile-img-wrapper {
  text-align: center;
}
#profile-name {
  margin-top: 15px;
  text-align: center;
}
#profile-occupation {
  text-align: center;
  margin-top: 0px;
}
