#profile-img-upload-wrapper {
  text-align: center;
}
#profile-img-upload-btn {
  margin-top: 15px;
  color: white;
}
#profile-img-wrapper {
  text-align: center;
}
#profile-name {
  margin-top: 15px;
  text-align: center;
}
#profile-occupation {
  text-align: center;
  margin-top: 0px;
}
.profile-btns-section {
  text-align: center;
  margin-bottom: 10px;
}
.profile-about-section {
  text-align: center;
  padding-top: 10px;
}
.user-post {
  background-color: #FDFCFC;
  border-radius: 5px;
  padding-bottom: 10px;
}
.user-post hr {
  border-color: #E3E1E1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-post-content p {
  margin-bottom: 0px;
  font-weight: 400;
}

.user-post .like-btn, .comment-btn, .delete-post-btn {
  width: 100%;
}
#post-creation-success-alert {
  display: none;
}
#post-creation-error-alert {
  display: none;
}

.user-post-img {
  text-align: center;
}

.hide-comment-btn {
  width: 100%;
}

/* Add or view comments */

.add-comment-btn {
  width: 100%;
}

.post-comment-image {
  height:auto;
  width: 40px;
}

.post-comment-image-wrapper {
  padding-right: 0px;
}

.post-comment-info-wrapper {
  padding-left: 5px;
}
.post-comment-info-wrapper h5 {
  margin-top: 0px;
}
/* Add comment modal */
.add_comment_to_post_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

.add_comment_to_post_modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.add-comment-to-post-gif {
  display: none;
}

.add-comment-to-post-complete-screen {
  display: none;
}





/* Post comments */

.post-comments-wrapper {
  max-height: 400px;
  overflow-x: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* Post Comment buttons */
.post-comment-btns-wrapper h6 {
  margin-bottom: 0px;
}

.like-comment-btn:hover {
  cursor:pointer;
}

.unlike-comment-btn:hover {
  cursor:pointer;
}

.delete-comment-btn:hover {
  cursor:pointer;
}
