#search_results_wrapper {
  margin-top: 10px;
  text-align: center;
}

#search_results_wrapper h4 {
  margin-top: 5px;
}

.form-relationship-btn:hover {
  cursor: pointer;
  color: blue;
}

.view-profile-btn:hover {
  cursor: pointer;
  color: blue;
}

.form-relationship-option {
  display:none;
}

.form-relationship-hr {
  display: none;
}

.form-relationship-final-btn:hover {
  cursor: pointer;
  color: blue;
}

.form-relationship-cancel-btn:hover {
  cursor: pointer;
  color: blue;
}

.accept-request-btn {
  cursor: pointer;
  color: blue;
}

.reject-request-btn {
  cursor: pointer;
  color: red;
}

.requester-info-wrapper {
  text-align: center;
}
